:root{
    --cor-de-fundo:#2d3166;
    --verde:#3b879e;
    --branco: #FFFFFF;
    --botao-ativo: #6660ad;
    --botao-inativo: #132074;
    --texto-de-fundo:#010c4d;
}


body{
    background-color: rgb(30, 48, 24);
    color: rgb(76, 139, 233);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    text-align: center;
}
.botão{
    background-color: rgb(51, 173, 189);
    font-size: 40px;
    border-radius: 10px;
    color: black;
    margin: 20px;
    padding: 20px;
}

.conteudo-principal{
    display: flex;
    justify-content: center;
    width:20px;
    align-items: center;
    margin: 0 auto;
}
.imagens{
    width: 15%;
    height:15%;
}
.meta{
    display: flex;
}
 